@font-face{
    font-family: 'nen';
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face{
    font-family: 'nen';
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face{
    font-family: 'nen';
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    z-index: 10;
}


#page1{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 0 2vw;

}

nav{
    padding: 2vw 0;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav h3{
    display: none;
}
#nav-part-2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part-2 h4{
    position: relative;
    padding: 10px 20px;
    border: 1px solid #00000000;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    overflow: hidden;
}

#nav-part-2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part-2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

#nav-part-2 h4 a{
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part-2 h4:hover a{
    color: #fff;
}

#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 3.6vw;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 9vw;
}

#page1 video{
    position: relative;
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
}


#hero-shape{
    position: absolute;
    width: 36vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}
#hero-1{
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(10px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #FE320A;
}
#hero-2{
    position: absolute;
    height: 30vw;
    width: 30vw;
    filter: blur(25px);
    border-radius: 50%;
    background:linear-gradient( #FE320A, #fe570a);
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero-3{
    position: absolute;
    height: 30vw;
    width: 30vw;
    filter: blur(25px);
    border-radius: 50%;
    background:linear-gradient( #FE320A, #fe570a);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes anime1{
    from{
        transform: translate(55%, -2%);
    }
    to{
        transform: translate(0%, 10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}
#page2{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding:8vw 0;
}
#moving-text{
    overflow-x: auto;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#moving-text h1{
    display: inline-block;
    font-size: 9vw;
}
#gola{
    display: inline-block;
    margin: 1vw 2vw;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE320A;
}


@keyframes move{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    /*background-color: aliceblue;*/
}

#page2-bottom h1{
    line-height: 4vw;
    font-size: 4vw;
    width: 60%;
}
#bottom-part2{
    width: 20%;
    /*background-color: aqua;*/
}
#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p{
    font-weight: 200;
    font-size: 1vw;
    margin-top: 2vw;
}

#page2 #gooey{
    position: absolute;
    top: 58%;
    left: 25%;
    height: 32vw;
    width: 32vw;
    border-radius: 50%;
    filter: blur(20px);
    background:linear-gradient(to top right,#ff2b03, #ff5c0b);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes gooey{
    from{
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}


#elem{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 2vw;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #494949;
}
#elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

#elem #overlay{
    position: absolute;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    background-color: orange;
    transition: all ease 0.2s;
}

#elem:hover #overlay{
    top: 0;
}


#fixed-image{
    height: 30vw;
    width: 24vw;
    /*background-color: red;*/
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 25%;
    z-index: 99;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4{
    height: 80vh;
    width: 100vw;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}
#swiper {
    width: 100%;
    height: 100%;
}

#swiper-slide {
    width: 30%;
    border-left: 1px solid #adedad;
    padding: 0 2vw;
}

#page5{
    height: 100vh;
    width: 100%;
    /*background-color: #EFEAE3;*/
}

#footer{
    position: fixed;
    z-index: 9;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    bottom: 0;
    display: flex;
    /*align-items: flex-end;*/
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1{
    bottom: 10%;
    font-size: 23vw;
}

#footer-div{
    position: absolute;
    top: 20%;
    height: 20vh;
    width: 100%;
}
#footer-div-left{
    position: absolute;
    padding: 2vw 2vw;
    height: 20vh;
    width: 30vw;
}
#footer-div-left h3{
    font-size: 2vw;
    font-weight: 600;
}

#footer-div-right{
    justify-content: flex-end;
    top: 10%;
    left: 60%;
    height: 50vh;
    width: 50vw;
    position: absolute;
}

#footer-div-right p{
    font-size: 2vw;
    font-weight: 500;
}
#footer-bottom{
    height: 10vh;
    width: 100%;
    border-top: 1px solid #dadada;
}

#full-scr{
    height: 100vh;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: -100%;
    background-color: #00000070;
    transition: all ease 5s;
}

#full-div1{
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


@media (max-width:600px) {
    #page1{
        position: relative;
        min-height: 100vh;
        width: 100vw;
        background-color: #EFEAE3;
        padding: 0 0vw;
    
    }
    
    nav{
        padding: 8vw 5vw;
        background-color: #EFEAE3;
    }
    nav img{
        height: 9vh;
        transition: all ease 0.2s;
    }
    nav h3{
        display: block;
        padding: 3vw 5vw;
        padding-left: 10vw;
        border: 1px solid #dadada;
        border-radius: 50%;
        font-size: 4vw;
        font-weight: 200;
    }
    #nav-part-2{
    
        display: none;
    }
    #center{
        /*background-color: orange;*/
        position: relative;
        z-index: 9;
        height: 62vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding-bottom: 10vw;
        padding: 7vw 5vw;
        flex-direction: column-reverse;
    }
    
    #left h3{
        width: 30vw;
        font-size: 5.5vw;
        line-height: 6vw;
    }
    
    #center h1{
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }
    
    #page1 video{
        position: relative;
        width: 92%;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
        margin-top: 4vw;
        margin-left: 4%;
    }
    #page2{
        position: relative;
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding:8vw 0;
    }
    #moving-text{
        overflow-x: auto;
        white-space: nowrap;
    }
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    #con{
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    #moving-text h1{
        display: inline-block;
        font-size: 15vw;
    }
    #gola{
        display: inline-block;
        margin: 2vw 2vw;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #FE320A;
    }
    
@keyframes move{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    position: relative;
    z-index: 9;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 90vh;
    width: 100%;
    padding: 10vw 4vw;
    flex-direction: column;
    z-index: 9;
    /*background-color: aliceblue;*/
}

#page2-bottom h1{
    line-height: 9vw;
    font-size: 8.2vw;
    width: 100%;
}
#bottom-part2{
    width: 70%;
    /*background-color: aqua;*/
}
#bottom-part2 img{
    width: 100%;
    border-radius: 10px;
}

#bottom-part2 p{
    font-weight: 200;
    font-size: 3vw;
    margin-top: 2vw;
}

#page2 #gooey{
    position: absolute;
    top: 58%;
    left: 25%;
    height: 62vw;
    width: 62vw;
    border-radius: 50%;
    filter: blur(20px);
    background:linear-gradient(to top right,#ff2b03, #ff5c0b);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes gooey{
    from{
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}


#elem{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 2vw;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #494949;
}
#elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

#elem #overlay{
    position: absolute;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    background-color: orange;
    transition: all ease 0.2s;
}

#elem:hover #overlay{
    top: 0;
}


#fixed-image{
    height: 30vw;
    width: 24vw;
    /*background-color: red;*/
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 25%;
    z-index: 99;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4{
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 2vw;
}
#swiper {
    width: 100%;
    height: 100%;
}

#swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#swiper-slide {
    width: 30%;
}



#page5{
    height: 100vh;
    width: 100%;
    /*background-color: #EFEAE3;*/
}

}

#loader{
    height: 100vh;
    width: 100%;
    background-color: #000;
    z-index: 999;
    position: fixed;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    color: #fff;
    position:absolute;
    opacity: 0;
    font-size: 4vw;
    background: #FE320A;
    background-size: cover;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2){
    animation-delay: 2s;
}

#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}


@media (max-width:600px) {
    #loader h1{
        font-size: 10vw;
    }
    
}